div{
    margin-top: 300px;
    margin-left: 1000px;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 5rem;
}

button{
    font-size: 3rem;
}
p{
    font-size: 3rem;
}
body{
    background-image:url("./background.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}